# use glob syntax 
syntax: glob

# Ignore folders
src/tools
*\bin
*\obj
*\packages
*\.vs
.idea/
.coverage/
.docs/
.resharper/
temp/
build/
deploy/
Artifacts/
[Oo]bj/
[Bb]in/{debug,Debug,Release,release}*/
_ReSharper*/
_UpgradeReport*

# Ignore Visual Studio files
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.opensdf
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.lock
*.ide


# ignore other bs
UpgradeLog.htm
Thumbs.db
*.swcdep
.MySCMServerInfo
*.~?~
*.orig
*-1.csproj
.DS_Store
*.swp
*.ReSharper
[Dd]ebug/*
[Rr]elease/*

.metadata/*
Source/UpgradeLog*
*.rej
*.csproj.*
*.trx
